[Unit]
Description=Unit file for managing Zookeeper within Ystia

[Service]
Environment="JAVA_HOME=%JAVA_HOME%"
Environment="KAFKA_OPTS=-Djava.security.properties=%KAFKA_HOME%/config/java.security"
Environment="KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:%KAFKA_HOME%/config/zookeeper-log4j.properties"
Environment="KAFKA_HEAP_OPTS=-Xms%ZK_HEAP_SIZE% -Xmx%ZK_HEAP_SIZE%"
ExecStart=%KAFKA_HOME%/bin/zookeeper-server-start.sh %KAFKA_HOME%/config/zookeeper.properties
# Avoid a failure status after stop zookeeper (Exit code 143 corresponds to SIGTERM).
SuccessExitStatus=0 143
User=%USER%

[Install]
WantedBy=multi-user.target
