[Unit]
Description=Unit file for managing Elasticsearch within Starlings

[Service]
Environment="JAVA_HOME=%JAVA_HOME%"
Environment="ES_JAVA_OPTS=%JAVA_OPTS%"
# Avoid ERROR {max file descriptors [4096] for elasticsearch process likely too low, increase to at least [65536]}
LimitNOFILE=65536
ExecStart=%ES_HOME%/bin/elasticsearch
# Avoid a failure status after stop elasticsearch (Exit code 143 corresponds to SIGTERM).
SuccessExitStatus=0 143
User=%USER%

[Install]
WantedBy=multi-user.target
