{#
#
# Ystia Forge
# Copyright (C) 2018 Bull S. A. S. - Bull, Rue Jean Jaures, B.P.68, 78340, Les Clayes-sous-Bois, France.
# Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.
#
#}
apiVersion: v1
kind: Pod
metadata:
  labels:
    component: etcd
    tier: control-plane
  name: {{ ansible_hostname }}
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd 
    - --name={{ ansible_hostname }} 
    - --data-dir=/var/lib/etcd 
    - --listen-client-urls=https://{{PRIVATE_IP}}:2379 
    - --advertise-client-urls=https://{{PRIVATE_IP}}:2379 
    - --listen-peer-urls=https://{{PRIVATE_IP}}:2380 
    - --initial-advertise-peer-urls=https://{{PRIVATE_IP}}:2380 
    - --cert-file=/etc/kubernetes/pki/etcd/server.crt
    - --key-file=/etc/kubernetes/pki/etcd/server.key
    - --client-cert-auth 
    - --trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt 
    - --peer-cert-file=/etc/kubernetes/pki/etcd/peer.crt
    - --peer-key-file=/etc/kubernetes/pki/etcd/peer.key 
    - --peer-client-cert-auth 
    - --peer-trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
    - --initial-cluster={% for host in ansible_play_hosts %}{{ hostvars[host]['ansible_hostname'] }}=https://{{ hostvars[host]['PRIVATE_IP'] }}:2380{{ "," if not loop.last else "" }}{% endfor %}

{# Above empty line should be preserved #}
    - --initial-cluster-token=kubernetes-etcd-cluster 
    - --initial-cluster-state=new
    image: k8s.gcr.io/etcd-amd64:3.1.12
    livenessProbe:
      tcpSocket:
        port: 2379
      failureThreshold: 8
      initialDelaySeconds: 15
      timeoutSeconds: 15
      periodSeconds: 30
    name: etcd
    env:
    - name: PUBLIC_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
    - name: PRIVATE_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: PEER_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    volumeMounts:
    - mountPath: /var/lib/etcd
      name: etcd
    - mountPath: /etc/kubernetes/pki/etcd
      name: certs
  hostNetwork: true
  volumes:
  - hostPath:
      path: /var/lib/etcd
      type: DirectoryOrCreate
    name: etcd
  - hostPath:
      path: /etc/kubernetes/pki/etcd
      type: DirectoryOrCreate
    name: certs
