#
# Ystia Forge
# Copyright (C) 2018 Bull S. A. S. - Bull, Rue Jean Jaures, B.P.68, 78340, Les Clayes-sous-Bois, France.
# Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.
#

[Unit]
Description=Unit file for managing Logstash within Ystia

[Service]
Environment="JAVA_HOME=%JAVA_HOME%"
Environment="JAVA_CMD=%JAVA_HOME%/bin/java"
Environment="LS_JAVA_OPTS=-Djava.security.properties=%LOGSTASH_HOME%/java.security %JAVA_OPTS%"
Environment="JAVA_OPTS=%JAVA_OPTS%"
ExecStart=%LOGSTASH_HOME%/bin/logstash -f %LOGSTASH_HOME%/conf %LOGSTASH_CMD_OPTS%
User=%USER%

[Install]
WantedBy=multi-user.target
