[Unit]
Description=Unit file for managing Jupyter within Ystia

[Service]
ExecStart={{CMD_JUPYTER}} notebook
User={{USER}}

[Install]
WantedBy=multi-user.target
